:root {
    --bs-color-white: #ffffff;
    --bs-color-black: #000000;
    --bs-color-primary: #409eff;
    --bs-color-primary-rgb: 64, 158, 255;
    --bs-color-success-rgb: 103, 194, 58;
    --bs-color-warning-rgb: 230, 162, 60;
    --bs-color-danger-rgb: 245, 108, 108;
    --bs-color-error-rgb: 245, 108, 108;
    --bs-color-info-rgb: 144, 147, 153;
    --bs-color-primary-light-1: #53a8ff;
    --bs-color-primary-light-2: #66b1ff;
    --bs-color-primary-light-3: #79bbff;
    --bs-color-primary-light-4: #8cc5ff;
    --bs-color-primary-light-5: #a0cfff;
    --bs-color-primary-light-6: #b3d8ff;
    --bs-color-primary-light-7: #c6e2ff;
    --bs-color-primary-light-8: #d9ecff;
    --bs-color-primary-light-9: #ecf5ff;
    --bs-color-primary-dark-2: #337ecc;
    --bs-color-success: #67c23a;
    --bs-color-success-light-3: #95d475;
    --bs-color-success-light-5: #b3e19d;
    --bs-color-success-light-7: #d1edc4;
    --bs-color-success-light-8: #e1f3d8;
    --bs-color-success-light-9: #f0f9eb;
    --bs-color-success-dark-2: #529b2e;
    --bs-color-warning: #e6a23c;
    --bs-color-warning-light-3: #eebe77;
    --bs-color-warning-light-5: #f3d19e;
    --bs-color-warning-light-7: #f8e3c5;
    --bs-color-warning-light-8: #faecd8;
    --bs-color-warning-light-9: #fdf6ec;
    --bs-color-warning-dark-2: #b88230;
    --bs-color-danger: #f56c6c;
    --bs-color-danger-light-3: #f89898;
    --bs-color-danger-light-5: #fab6b6;
    --bs-color-danger-light-7: #fcd3d3;
    --bs-color-danger-light-8: #fde2e2;
    --bs-color-danger-light-9: #fef0f0;
    --bs-color-danger-dark-2: #c45656;
    --bs-color-error: #f56c6c;
    --bs-color-error-light-3: #f89898;
    --bs-color-error-light-5: #fab6b6;
    --bs-color-error-light-7: #fcd3d3;
    --bs-color-error-light-8: #fde2e2;
    --bs-color-error-light-9: #fef0f0;
    --bs-color-error-dark-2: #c45656;
    --bs-color-info: #909399;
    --bs-color-info-light-3: #b1b3b8;
    --bs-color-info-light-5: #c8c9cc;
    --bs-color-info-light-7: #dedfe0;
    --bs-color-info-light-8: #e9e9eb;
    --bs-color-info-light-9: #f4f4f5;
    --bs-color-info-dark-2: #73767a;
    --bs-bg-color: #f5f7fa;
    --bs-border-width-base: 1px;
    --bs-border-style-base: solid;
    --bs-border-color-hover: var(--bs-text-color-placeholder);
    --bs-border-base: var(--bs-border-width-base) var(--bs-border-style-base) var(--bs-border-color-base);
    --bs-svg-monochrome-grey: #dcdde0;
    --bs-fill-base: var(--bs-color-white);
    --bs-font-size-extra-large: 20px;
    --bs-font-size-large: 18px;
    --bs-font-size-medium: 16px;
    --bs-font-size-base: 14px;
    --bs-font-size-small: 13px;
    --bs-font-size-extra-small: 12px;
    --bs-font-weight-primary: 500;
    --bs-font-line-height-primary: 24px;
    --bs-text-color-disabled-base: #bbb;
    --bs-index-normal: 1;
    --bs-index-top: 1000;
    --bs-index-popper: 2000;
    --bs-text-color-primary: #303133;
    --bs-text-color-regular: #606266;
    --bs-text-color-secondary: #909399;
    --bs-text-color-placeholder: #c0c4cc;
    --bs-border-color-base: #dcdfe6;
    --bs-border-color-light: #e4e7ed;
    --bs-border-color-lighter: #ebeef5;
    --bs-border-color-extra-light: #f2f6fc;
    --bs-border-radius-base: 4px;
    --bs-border-radius-small: 2px;
    --bs-border-radius-round: 20px;
    --bs-border-radius-circle: 100%;
    --bs-box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    --bs-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    --bs-disabled-bg-color: var(--bs-bg-color);
    --bs-disabled-text-color: var(--bs-text-color-placeholder);
    --bs-disabled-border-color: var(--bs-border-color-light);
    --bs-transition-duration: 0.3s;
    --bs-transition-duration-fast: 0.2s;
    --bs-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
    --bs-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
    --bs-transition-all: all var(--bs-transition-duration) var(--bs-transition-function-ease-in-out-bezier);
    --bs-transition-fade: opacity var(--bs-transition-duration) var(--bs-transition-function-fast-bezier);
    --bs-transition-md-fade: transform var(--bs-transition-duration) var(--bs-transition-function-fast-bezier),
        opacity var(--bs-transition-duration) var(--bs-transition-function-fast-bezier);
    --bs-transition-fade-linear: opacity var(--bs-transition-duration-fast) linear;
    --bs-transition-border: border-color var(--bs-transition-duration-fast) var(--bs-transition-function-ease-in-out-bezier);
    --bs-transition-box-shadow: box-shadow var(--bs-transition-duration-fast) var(--bs-transition-function-ease-in-out-bezier);
    --bs-transition-color: color var(--bs-transition-duration-fast) var(--bs-transition-function-ease-in-out-bezier);
}
