.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--el-border-color-base);
}
.header-nav-item:not(:first-child) {
    margin-left: 12px;
}
