html {
    font-size: 10px;
}
html,
body {
    padding: 0;
    margin: 0;
}
body {
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    line-height: 1.6em;
    color: var(--el-text-color-primary);
}
/*块级元素规范化 box-sizing为 border-box*/
div,
p,
selection,
article,
main,
header,
footer {
    box-sizing: border-box;
}
p {
    margin: 0;
}
p:not(:first-child) {
    margin-top: 1em;
}

ul,
ol {
    list-style: none;
    padding-left: 2em;
    line-height: 1.6em;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
input {
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    line-height: 1.6em;
    color: var(--el-text-color-primary);
}
input[type="text"],
input[type="password"] {
    border: 1px solid var(--el-border-color-base);
    outline: none;
    height: 34px;
    border-radius: var(--el-border-radius-base);
    transition: border-color 0.15s;
    padding: 0 10px;
    width: 260px;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--el-color-primary);
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: var(--el-text-color-placeholder);
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    line-height: 1.6em;
}
a {
    color: var(--el-text-color-primary);
    text-decoration: none;
    color: var(--el-text-color-primary);
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    line-height: 1.6em;
}
a:hover {
    color: var(--el-color-primary);
    text-decoration: underline;
}

/**自定义css*/
.flex {
    display: flex;
}
.flex-inline {
    display: inline-flex;
}
.flex-row-between {
    justify-content: space-between;
}
.flex-row-center {
    justify-content: center;
}
.flex-col-center {
    align-items: center;
    align-content: center;
}
